# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/client/node_modules

# testing
/client/coverage

# production
/client/build

# password
/client/src/components/key.json
/clinet/src/components/hhhhhome.jsx
/client/src/components/test.jsx
# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

