# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# password
/src/components/key.json
/src/components/hhhhhome.jsx
/src/components/test.jsx
# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

