td{
    color: #fff;
}

.text-right{
    color: rgba(0, 0, 0, 0.7);
}

.text-right a{
    color: white;
    margin-right: 50px;
    transition: 0.2s
}

.text-right a:hover{
    color: yellowgreen;
}

#icon{
    margin-right: 20px;
    cursor: pointer;
    transition: 0.3s;
}

#icon:hover{
    color: rgba(0, 0, 0, 0.3);
}