.container{
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    margin-bottom: 100px;
}

.admin-text {
    margin-top: 100px;
    margin-bottom: -220px;
    text-align: center;
}

.table{
    margin-top:300px;
}

#close{
    right:0px;
    top:0px;
}

#book-button{
    width:100px;
    height: 45.9px;
    border-radius: 0px;
}

